body
{
    margin: 0px 0px;
}.navbar {
    background-color: #333;
    width: 100%;
}
.search-button img
{
    width: 23px;
    height: 16px;
}

.nav-list {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.nav-item.logo img {
    height: 40px;
}

.search-form {
    display: flex;
    padding: 6px 6px;
    margin: 6px 0px;
    width: 453px;
    height: 29px;
    border-radius: 9px;
    background-color: black;
}

.search-input {
    width: 387px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 116px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top: 42px;
}

.dropdown-item {
    
    margin: 46px -25px;
    text-decoration: none;
    display: block;
}
.dropdown-item a
{
    padding: 15px 27px;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 3px;
}

.dropdown-item a:hover {
    background-color: black;
    color: #f9f9f9; 
    text-decoration: underline solid   #f9f9f9; ;
}

.nav-item:hover .dropdown {
    display: block;
}
.arrow {

  transition: transform 0.3s ease-in-out;
}
.arrow01 {

transition: transform 0.3s ease-in-out;
}
.hover02
{
    transform: rotate(180deg);
  color: rgb(148, 188, 243);
}
.location-dropdown
{
    display: flex;
    color: #f9f9f9;
    cursor: pointer;
  
}
.location-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown img
{
    width: 20px;
    height: 20px;
}
.language-dropdown
{
    display: flex;
    color: #f9f9f9; 
    cursor: pointer;
}
.location-dropdown img
{
    width: 20px;
    height: 20px;
}
.menubar
{
    display: flex;
    list-style: none;
    font-size: 14px;
}

.menubar li a
{
    text-decoration: none;
    color: #f9f9f9;
    margin: 0px 9px;
    padding: 8px 8px;
    border-radius: 5px;
}
.menubar li a:hover
{
    background-color: black;
}
.open-menubar
{
    display: none;
}
.close-menubar
{
    display: none;
}



@media screen and (max-width: 1280px)

{
    body
{
    margin: 0px 0px;
}
.navbar {
    background-color: #333;
    width: 178%;
}
.search-button img
{
    width: 23px;
    height: 16px;
}

.nav-list {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.nav-item.logo img {
    height: 40px;
}

.search-form {
    display: flex;
    padding: 6px 6px;
    margin: 6px 0px;
    width: 453px;
    height: 29px;
    border-radius: 9px;
    background-color: black;
}

.search-input {
    width: 387px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 116px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top: 42px;
}

.dropdown-item {
    
    margin: 46px -25px;
    text-decoration: none;
    display: block;
}
.dropdown-item a
{
    padding: 15px 27px;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 3px;
}

.dropdown-item a:hover {
    background-color: black;
    color: #f9f9f9; 
    text-decoration: underline solid   #f9f9f9; ;
}

.nav-item:hover .dropdown {
    display: block;
}
.arrow {

  transition: transform 0.3s ease-in-out;
}
.arrow01 {

transition: transform 0.3s ease-in-out;
}
.hover02
{
    transform: rotate(180deg);
  color: rgb(148, 188, 243);
}
.location-dropdown
{
    display: flex;
    color: #f9f9f9;
    cursor: pointer;
  
}
.location-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown img
{
    width: 20px;
    height: 20px;
}
.language-dropdown
{
    display: flex;
    color: #f9f9f9; 
    cursor: pointer;
}
.location-dropdown img
{
    width: 20px;
    height: 20px;
}
.menubar
{
    display: flex;
    list-style: none;
    font-size: 14px;
}

.menubar li a
{
    text-decoration: none;
    color: #f9f9f9;
    margin: 0px 9px;
    padding: 8px 8px;
    border-radius: 5px;
}
.menubar li a:hover
{
    background-color: black;
}
.open-menubar
{
    display: none;
}
.close-menubar
{
    display: none;
} 
}







@media screen and (max-width: 768px)
{
    body
{
    margin: 0px 0px;
}

    .navbar {
    background-color: #333;
    width: 100%;
}
.search-button img
{
    width: 23px;
    height: 16px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0px 21px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.nav-item.logo img {
    height: 34px;
}

.search-form {
    display: flex;
    padding: 6px 6px;
    margin: 6px 0px;
    width: 512px;
    height: 29px;
    border-radius: 9px;
    background-color: black;
}

.search-input {
    width: 439px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 116px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top: 51px;
}

.dropdown-item {
    
    margin: 46px -25px;
    text-decoration: none;
    display: block;
}
.dropdown-item a
{
    padding: 15px 27px;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 3px;
}

.dropdown-item a:hover {
    background-color: black;
    color: #f9f9f9; 
    text-decoration: underline solid   #f9f9f9; ;
}

.nav-item:hover .dropdown {
    display: block;
}
.arrow {

  transition: transform 0.3s ease-in-out;
}
.arrow01 {

transition: transform 0.3s ease-in-out;
}
.hover02
{
    transform: rotate(180deg);
  color: rgb(148, 188, 243);
}
.location-dropdown
{
    display: none;
    color: #f9f9f9;
    cursor: pointer;
  
}
.location-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown:hover
{
    color: rgb(148, 188, 243);
}
.language-dropdown img
{
    width: 20px;
    height: 20px;
}
.language-dropdown
{
    display: none;
    color: #f9f9f9; 
    cursor: pointer;
}
.location-dropdown img
{
    width: 20px;
    height: 20px;
}
.menubar
{
    position: fixed;
    display: block;
    top: 0;
    right: -290px;
    height: 75%;
    width: 250px;
    background-color: #333;
    padding-top: 5px;
    transition: right 0.3s ease;
}
.menubar li
{
        margin: 59px 0px;
}

.menubar li a
{
    text-decoration: none;
    color: #f9f9f9;
    margin: 0px 9px;
    padding: 14px 45px;
    border-radius: 5px;
}
.menubar li a:hover
{
    background-color: black;
}
.open-menubar
{
    display: block;
    font-size: 50px;
    cursor: pointer;
    color: #f9f9f9;
}
.close-menubar
{
    display: block;
    font-size: 40px;
    cursor: pointer;
    color: #f9f9f9;
    float: right;
    margin: 0px 45px 5px 0px;
}
.active{
    right: 0px;
}


}