    /* Styles for the navigation bar */
    body {
      margin: 0px 0px;
      padding: 0px 0px;
  
  }

/* ********banner part open*************  */
.carousel-container {
  width: 100%;
 /* Adjust as needed */
  overflow: hidden;
}

.carousel {
  width: 1480px;

  list-style-type: none;
  padding: 0;
  margin:  10px auto;
  display: flex;
  transition: margin-left 0.5s ease;
}

.carousel-slide {
width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-indicators {
  text-align: center;
  padding: 0;
  margin-top: 10px;
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #b0aaaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background: #000;
}

/* **********banner part close**********  */

/* **********card part open ***************/
.card_header
{
  position: relative;
  width: 1432px;
  height: 350px;
  /* height: auto; */
  overflow: hidden; 
   margin:  0px auto;

}
.card_header02
{
  display: flex;
  transition: transform 0.5s ease;
  text-decoration: none;
  margin: 40px 0px;
}
.card_header02 a{
  text-decoration: none;
}
.card {
  flex: 0 0 14.3%;
  width: 204px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-top: 10px;
  font-size: 16px;
}

.anchor {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  /* background-color: #007bff; */
  color: blue;
  text-decoration: none;
  border-radius: 5px;
}

.anchor:hover {
  text-decoration: underline;
}
 .card_prev, .card_next {
  position: absolute;
  top: 44%;
  transform: translateY(76%);
  width: 40px;
  height: 40px;
  background-color: rgba(99, 98, 98, 0.1);
  color: black;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.card_prev {
  left: 10px;
}
.card_next {
  right: 10px;
}
.card_next:hover , .card_prev:hover{
  background-color: whitesmoke;
}
.move
{
  transform: translateX(-1432px);
}
.background
{
  border: 3px solid rgb(0, 157, 255);
}
/* **********card part close ***************/


/* **************category part open************************/
.heading h1
{
   text-align: center;
   margin: 65px 0px;
}
.category
{
  position: relative;
  width: 1432px;
  height: 600px;
  margin: 15px auto;
  overflow: hidden;

  
}
.category_title ul
{
  display: flex;
  width: 1432px;
  margin: 57px auto;
  text-align: center;
  justify-content: center;
  position: absolute;
  list-style: none;
  cursor: pointer;
}
.category_title ul li
{
  font-size: 21px;
  /* text-decoration: none; */
  margin: 0px 29px;
  padding: 2px 25px;
  color: black;
}
.category_title li:hover
{
  color: #424141;
}
#category_image
{
  display: flex;
  position: absolute;
  height: 100%;
  top: 10px;
  transition: transform 0.5s ease;
}
.image_slider
{
  width: 1413px;
  height: 100%;
  margin: 0px 11px;
}
.underline
{
  text-decoration:  underline !important;
}
.title_border
{
   border: 3px dotted black;
   border-radius: 50px;
   text-decoration: underline;
}

/* category 01 are open */
.category01
{
  position: relative;
  width: 1432px;
  height: 600px;
  margin: 15px auto;
  overflow: hidden; 
}
.category_title01 ul
{
  display: flex;
  width: 1432px;
  margin: 57px auto;
  text-align: center;
  justify-content: center;
  position: absolute;
  list-style: none;
  cursor: pointer;
}
.category_title01 ul li
{
  font-size: 21px;
  /* text-decoration: none; */
  margin: 0px 29px;
  padding: 2px 25px;
  color: black;
}
.category_title01 li:hover
{
  color: #424141;
}
#category_image01
{
  display: flex;
  position: absolute;
  height: 100%;
  top: 10px;
  transition: transform 0.5s ease;
}

.underline01
{
  text-decoration:  underline !important;
}
.title_border01
{
   border: 3px dotted black;
   border-radius: 50px;
   text-decoration: underline;
}
/* **************category part close************************/

/* **************recommeded part open********** */
.recommended
{
    width: 100%;
    height: 500px;
    position: relative;
}
.recommended h1
{
  text-align: center;
  margin: 75px 0px;
}
.recommended_slider-container {
    width: 70%;
    min-height: 600px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}
.recommended_slider {
    display: flex; /* Using flexbox */
    width: 1240px;
    height: auto;
    min-height: 600px;
    transition: transform 0.3s ease;
}
.recommended_card {
    flex: 0 0 20%; /* Each card takes 20% width */
    margin: 0 10px;
    background: #ebeded;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.recommended_card img {
    width: 80%;
    height: 269px;
    margin: 17px 25px;
}
.recommended_btn {
    position: absolute;
    top: 50%;
    margin: 0px 70px;
    transform: translateY(200%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
}
.recommended_prev {
    left: 10px;
}
.recommended_next {
    right: 10px;
}
.recommended_card h2
{
  text-align: center;
}
.recommended_card h2
{
  text-align: center;
  font-size: 18px;
  margin: 30px 30px;
}

/* ******color change part open */
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
}

#white-circle {
  background-color:  white;
}

#black-circle {
  background-color: black ;
}
#yellow-circle
{
  background-color: yellow;
}

#text {
  margin-top: 11px;
}

#image {
  width: 200px;
  height: 200px;
}
.color_chnage{
  text-align: center;
  margin: 16px 0px;
}
.total_price
{
  text-align: center;
  margin: 0% 45%;
}
.color_change
{
  padding: 0px 45px;
  margin: 16px 0px;
}
.MRP_with_tex
{
   font-size: 13px;
   padding: 13px 12px;
   text-align: center;
}
.EMI{
  font-size: 13px;
  padding: 0px 32px;
  text-align: center;
}
.EMI_calculator{
  text-align: center;
  margin: 5px 0px;
}
.EMI_calculator a
{
  font-size: 13px;
}
.buy_button 
{
  background-color: black;
  display: flex;
  width: 150px;
  margin: 22px auto;
  border-radius: 18px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 4px 0px;
  text-align: center;
  justify-content: center;
}

/* ******color change part close */
/* **************recommeded part close********** */


@media only screen and (max-width: 320px)  
{
  .carousel-container {
    width: 100%;
   /* Adjust as needed */
    overflow: hidden;
  }
  
  .carousel {
    width: 90%;
    list-style-type: none;
    padding: 0;
    margin:  10px auto;
    display: flex;
    transition: margin-left 0.5s ease;
  }
  
  .carousel-slide {
  width: 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 237px;
    display: block;
    margin: 0 auto;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-222%);
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .carousel-indicators {
    text-align: center;
    padding: 0;
    margin-top: 10px;
  }
  
  .carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b0aaaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-indicator.active {
    background: #000;
  }
  
  /* **********banner part close**********  */
  
  /* **********card part open ***************/
  .card_header
  {
    position: relative;
    width: 90%;
    height: 350px;
    /* height: auto; */
    overflow: hidden;
    margin:  0px auto;
  }
  .card_header02
  {
    display: flex;
    transition: transform 0.5s ease;
    text-decoration: none;
    margin: 40px 0px;
  }
  .card_header02 a{
    text-decoration: none;
  }
  .card {
    flex: 0 0 71.3%;
    width: 204px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .description {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .anchor {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    /* background-color: #007bff; */
    color: blue;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .anchor:hover {
    text-decoration: underline;
  }
   .card_prev, .card_next {
    position: absolute;
    top: 44%;
    transform: translateY(76%);
    width: 40px;
    height: 40px;
    background-color: rgba(99, 98, 98, 0.1);
    color: black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
  }
  .card_prev {
    left: 10px;
  }
  .card_next {
    right: 10px;
  }
  .card_next:hover , .card_prev:hover{
    background-color: whitesmoke;
  }
  .move
  {
    transform: translateX(-1432px) ;
  }
  .background
  {
    border: 3px solid rgb(0, 157, 255);
  }
  /* **********card part close ***************/
  
  
  /* **************category part open************************/
  .heading h1
  {
     width: 100%;
     text-align: center;
     margin: 65px 0px;
     font-size: 22px;
  }
  .category
  {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 15px auto;
    overflow: hidden;
  }
  .category_title ul
  {
    display: flex;
    width: 100%;
    margin: 84px auto;
    /* text-align: center; */
    /* justify-content: center; */
    /* position: absolute; */
    list-style: none;
    cursor: pointer;
    /* scroll-behavior: smooth; */
    -webkit-overflow-scrolling: touch;
  }
  .category_title ul li
  {
    font-size: 17px;
    /* text-decoration: none; */
    margin: 0px 2px;
    padding: 2px 25px;
    color: black;
  }
  .category_title li:hover
  {
    color: #424141;
  }
  #category_image
  {
    display: flex;
    position: absolute;
    height: 100%;
    top: 10px;
    transition: transform 0.5s ease;
  }
  .image_slider
  {
    width: 93%;
    height: 100%;
    margin: 0px 11px;
  }
  .underline
  {
    text-decoration:  underline !important;
  }
  .title_border
  {
     border: 3px dotted black;
     border-radius: 50px;
     text-decoration: underline;
  }
  
  /* category 01 are open */
  .category01
  {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 15px auto;
    overflow: hidden;
  }
  .category_title01 ul
  {
    display: flex;
    width: 85%;
    margin: 80px auto;
    text-align: center;
    justify-content: center;
    position: absolute;
    list-style: none;
    cursor: pointer;
  }
  .category_title01 ul li
  {
    font-size: 21px;
    /* text-decoration: none; */
    margin: 0px -9px;
    padding: 2px 25px;
    color: black;
  }
  .category_title01 li:hover
  {
    color: #424141;
  }
  #category_image01
  {
    display: flex;
    position: absolute;
    height: 100%;
    top: 10px;
    transition: transform 0.5s ease;
  }
  
  .underline01
  {
    text-decoration:  underline !important;
  }
  .title_border01
  {
     border: 3px dotted black;
     border-radius: 50px;
     text-decoration: underline;
  }
  .category_title
  {
    width: 100%;
    display: block;
  }

  /* **************category part close************************/
  
  /* **************recommeded part open********** */
  .recommended
  {
      width: 100%;
      height: 506px;
      position: relative;
  }
  .recommended h1
  {
    font-size: 21px;
    text-align: center;
    margin: 75px 0px;
  }
  .recommended_slider-container {
      width: 85%;
      min-height: 600px;
      height: auto;
      margin: 0px auto;
      overflow: hidden;
      position: relative;
  }
  .recommended_slider {
      display: flex; /* Using flexbox */
      width: 1240px;
      height: auto;
      min-height: 600px;
      transition: transform 0.3s ease;
  }
  .recommended_card {
      flex: 0 0 20%; /* Each card takes 20% width */
      margin: 0 10px;
      background: #ebeded;
      height: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
  }
  .recommended_card img {
      width: 80%;
      height: 269px;
      margin: 17px 25px;
  }
  .recommended_btn {
      position: absolute;
      top: 50%;
      margin: 0px -10px;
      transform: translateY(381%);
      cursor: pointer;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 50%;
      font-size: 20px;
      z-index: 1;
  }
  .recommended_prev {
      left: 10px;
  }
  .recommended_next {
      right: 10px;
  }
  .recommended_card h2
  {
    text-align: center;
  }
  .recommended_card h2
  {
    text-align: center;
    font-size: 18px;
    margin: 30px 30px;
  }
  
  /* ******color change part open */
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
  }
  
  #white-circle {
    background-color:  white;
  }
  
  #black-circle {
    background-color: black ;
  }
  #yellow-circle
  {
    background-color: yellow;
  }
  
  #text {
    margin-top: 11px;
  }
  
  #image {
    width: 200px;
    height: 200px;
  }
  .color_chnage{
    text-align: center;
    margin: 16px 0px;
  }
  .total_price
  {
    text-align: center;
    margin: 0% 45%;
  }
  .color_change
  {
    padding: 0px 45px;
    margin: 16px 0px;
  }
  .MRP_with_tex
  {
     font-size: 13px;
     padding: 13px 12px;
     text-align: center;
  }
  .EMI{
    font-size: 13px;
    padding: 0px 32px;
    text-align: center;
  }
  .EMI_calculator{
    text-align: center;
    margin: 5px 0px;
  }
  .EMI_calculator a
  {
    font-size: 13px;
  }
  .buy_button 
  {
    background-color: black;
    display: flex;
    width: 150px;
    margin: 22px auto;
    border-radius: 18px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 4px 0px;
    text-align: center;
    justify-content: center;
  }
  
  /* ******color change part close */
  /* **************recommeded part close********** */
  
}


    
